BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
PointerAlignment: Right
IndentCaseLabels: false
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
